* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
.side-bar {
  background-color: #000;
  width:30em;
  margin-right:10em;
  height: 89vh;
}
#prm{
  display: none;
}
#pr{
  display:none;
}
.logo {
  padding: 1em;
  height:3em;
}
.nav {
  display: flex;
  flex-direction: column;
  padding-left:2em;
}
#p1{
  color: #FFF;
                        font-family: DM Sans;
                        font-size: 29px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: -1.16px;
}
#p2{
  color: #B3B3B3;
  font-family: DM Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.68px;
}
.nav a {
  text-decoration: none;
  padding-bottom: 1em;
  color: #fff;
  font-family: DM Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.14px;
}
.nav i {
  padding-right: 2em;
}
#ylb {
  height: 15px;
  padding-right: 2em;
}
#lb {
  padding-right: 1em;
}
#inv{
  display: none;
}
.play {
  padding-top:1.5em;
  color: #fff;
  font-family: DM Sans;
  font-size: 19px;
  padding-right:14em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.14px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.play a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  padding: 0.5em; /* Reduced padding for better spacing */
}
#plus {
  background-color: #fff;
  margin-right: 0.8em;
}
#like {
  background-image: url(./Asserts/Rectangle\2\\(1\).svg);
  height:2em;
  align-items center;
  width: 1.6em;
  margin-right: 0.8em;
  margin-left: 0.5em;
}
#a2 {
  padding-right: 2.2em;
}
#epi {
  background-color: #004638;
  display: flex;
  justify-content: space-around;
  margin-right: 1em;
  height: 1.7em;
  padding: 1px;
}
.links {
  display: flex;
  flex-direction: column;
  padding-left:2em;
  padding-top:1em;
  padding-bottom:1em;
}
.links a{
    color: #fff;
  font-family: DM Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  padding-bottom:1.5em;
  letter-spacing: -0.997px;
}
.download{
    display: flex;
    color: #fff;
    font-family: DM Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content:space-evenly;
    align-items: center;
    padding-right:14.5em;
}
.download img{
    padding-right:10px;
}
.download a{
  color: #fff;
  text-decoration: none;
}
.four{
  padding-top:1em;
}
.four img{
  padding-right:2em;
  padding-bottom:1em;
}
.music-player {
    display: inline-flex;
    position:fixed;
    bottom: 0;
    color: aliceblue;
    width: 100%;
    display: flex;
    justify-content:space-between;
    background: #181818;
    padding: 10px 25px 25px 25px;
}
#singer{
    display: flex;
    flex-direction: column;
}
#greenheart{
    align-items: center;
    padding-left:1em;
}
.rewind-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
#heart{
    padding:10px 10px 10px 10px;
}
#dot{
    padding-right:50px;
    padding-left:10px;
}
#dots
{
    color:white;
    padding:10px;
}
#bigh{
    color:#90AEA7;
    padding:0 10px 0 30px;
}
#book{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#jb{
    padding:10px 15px 0px 10px;
}
#heart2{
    padding:0px 20px 0px 20px;
}
#dur{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50em;
}

#pbt{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    padding-left:60px;
}
#dur a{
    padding:0 10px 0 30px;
    color: #fff;
}
#run {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #run span {
    font-size: 1em;
    padding:0px 0px 0px 0px;
  }
  
.progress{
   min-height:6px;
    background-color: aliceblue;
    border-radius:10px;
    width:700px;
}
  

    #group{
        
        margin:0;
        padding:0;
    }
.main{
    background: linear-gradient(180deg, #222 0%, #1F1F1F 11.64%, #171717 25.66%, #161616 32.94%, #151515 35.98%, #131313 44.89%, #121212 55.22%, #121212 75.34%, #121212 85.45%, rgba(18, 18, 18, 0.00) 100%);
    margin-left:15em;
    justify-content: space-between;
    position: fixed;
    padding-top:1em;
    top:0px;
}
.title{
  display: flex;
  justify-content: space-between;
}
.welcome{
    margin:3em 0em 1em 4em;
}
.shows{
    padding-left:2em;
    padding-right:25em;
}
.artist-1{
  display: flex;
  flex-direction: column;
  height:10em;
  width: auto;
}
.main{
  overflow-y:hidden;
  height:100vh;
  width:100vw;
  scroll-behavior: auto;
}
.main:hover{
  overflow:auto;padding:;
}
img:hover {
  /* Your hover styles for images */
  opacity:0.4;
}
a:hover {
  /* Your hover styles for links */
  color:green;
}
.music-player{
  width:100%;
  margin:0;
  padding:0;
}
@media screen and (min-width: 768px)
{
  .side-bar{
    width:20em;
    overflow-y: hidden;
    overflow-x: hidden;
    height:94vh;
    
  }
  .links{
    margin:0;
    padding-bottom:0em;
  }
  .play{
    margin:0;
    padding-left:4.2em;
  }
  #epi{
    margin-left:1em;
  }
  .main{
    width:87%;
    font-size: smaller;
    overflow-y: auto;
  }
  .download{
    display: flex;
    color: #fff;
    font-family: DM Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content:space-evenly;
    align-items: center;
    padding-right:7em;
    padding-top:3em;
    padding-left:0;
    margin:0;
}
.download a{
  color: #fff;
  text-decoration: none;
}
#group{
  padding-right:2em;
  padding-top:2em;
}
#book{
  margin:0px;
  padding:0;
}
footer{
  width:10em;
}
}
@media  screen and (max-width:1440px)
{
  .main{
    margin-left:15em;
    width:93em;
    overflow-y: auto;
  }
  .side-bar{
    margin:0px;
    padding:0;
    width:12.7em;
  }
  .download{
    margin:0px;
    padding-left:0em;
    padding-right:6em;
    padding-top:2em;
  }
  .play a{
    padding-left:4em;
    padding-top:1em;
  }
  #crt{
    margin-top:2em;
  }
  #ib{
    padding-top:1em;
    padding-left:6em;
    white-space:nowrap;
  }
  #ylb{
    white-space:nowrap;
  }
  .links{
    padding-top:0;
    margin-top:0;
  }
  @media  screen and (max-width:1024px)
  {
  .main{
    margin:0;
    width:61.8em;
    margin-left:15em;
  }
}
  .links{
    padding-bottom:0;
    padding-top:3em;
  }
  #group{
    margin:0;
    padding-top:1.5em;
    padding-left:0.5em;
  }
  .shows{
    padding-right:0;
  }
  .play{
    padding:0 6em 0 0em;
    margin:0;
    align-items: center;
  }
  #plus{
    margin-right:1em;
  }
  #like{
    margin-right:1em;
  }
  #epi{
    margin-left:0;
    margin-right:0.5em;
  }
  .progress{
    width:16em;
  }
  #run{
    padding-left:2em;
  }
  #dur{
    padding:0;
  }
}
@media  screen and (max-width:2560px)
{
  .main{
   margin-left:23em;
   width:123em;

  }
  .welcome{
    padding-left:10em;
    font-size:1em;
  }
  .shows{
    padding-left:12em;
    padding-right:
  }
  .title{
    height:3em;
    font-size:medium;
  }
  .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:14em;
    padding-right:13em;
  }
  .side-bar{
    width:20em;
  }
  .logo{
    font-size:medium;
  }
  .nav a{
    font-size:20px;
    padding-bottom:8px;
  }
  .nav{
    
  }
  .play{
    font-size:20px;
    white-space:nowrap;
    padding-left:5em;
  }
  .play a{
    padding-bottom:8px;
  }
  .links a{
    font-size:15px;
    padding-bottom:1.5em;
  }
  #ylb{
    padding-top:6px;
  }
  .links{
    padding-bottom:8px;
  }
  .download{
    font-size:medium;
    white-space:nowrap;
    
    padding-right:7em;
  }
  .music-player{
    height:6em;
    padding-top:0;
  }
  #dur{
    padding-top:1em;
  }
  #group{
    padding-top:2.5em;
  }
}
@media screen and (max-width:480px)
{
  .side-bar{
    position:fixed;
    bottom:0px;
    width:100vw;
    height:4em;
    padding-top:1em;
    display: flex;
  }
  .title{
    display: flex;
    justify-content: space-between;
  }
  .logo{
    display: none;
  }
  .links{
    display: none;
  }
  .play{
    display: none;
  }
  .download{
    display:none;
  }
  .info{
    display: flex;
    justify-content: space-between;
    white-space:nowrap;
    padding-right:2em;
    padding-left:0;
    font-size: smaller;
  }
  #p1{
    font-size:medium;
    padding-left:1em;
  }
  #p2{
    font-size: medium;
  }
  .main{
    padding:0;
    margin:0;
    height:81vh;
    width:100vw;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .title{
    display: flex;
    position: sticky;
    background: #161616;
    justify-content: space-between;
    top:0px;
    padding-top:10px;
    overflow-x: hidden;
  }
  .welcome{
    padding-left:1em;
    padding-top:1em;
    margin-top:1em;
    margin:0;
    align-items: center;
  }
  #inv{
    display:inline-block;
  }
  .music-player{
    position:fixed;
    bottom:6em;
    height:3em;
    padding-top:15px;
    font-size: smaller;
  }
  #book{
    font-size: small;
  }
  #one{
    display: none;
  }
  #run{
    display: none;
    margin:0;
  }
  .shows{
    margin:0;
    align-items: center;
    padding-left:4em;
    padding-bottom:1em;
  }
  #inv{
    color: #fff;
    padding-left:7em;
  }
  .nav {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .nav a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right:2em;
    padding-left:3px;
  }
  #prm{
    display: inline;
    padding-left:2em;
  }
  #pr{
    display:flex;
    padding-left:0.5em;
    padding-top:2px;
  }
  #ylb{
    padding-left:1em;
    display: none;
    white-space:nowrap;
  }
  #spe{
  
  }
  #ib{
    padding-top:2em;
  }
}